<div>
    <h2>
        <span>Parcours</span>
        <button class="btn btn-primary float-right jh-create-entity create-parcours" [routerLink]="['/', { outlets: { popup: ['parcours-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Parcours
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="parcours">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Titre</span></th>
            <th><span>Ville</span></th>
            <th><span>Site</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let parcours of parcours ;trackBy: trackId">
                <td><a [routerLink]="['../parcours', parcours.id ]">{{parcours.id}}</a></td>
                <td>{{parcours.titre}}</td>
                <td>
                    <div *ngIf="parcours.ville">
                        <a [routerLink]="['../ville', parcours.ville?.id ]" >{{parcours.ville?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let site of parcours.sites; let last = last">
                            <a class="form-control-static" [routerLink]="['../site', site?.id ]">{{site.nom}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../parcours', parcours.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parcours/'+ parcours.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'parcours/'+ parcours.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
